$cardHeight: 20vmax;
$cardWidth: $cardHeight /1.2;


*{
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  // box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.choixdif{
  display: flex;
  flex-direction: column;
}

input{
  border: none;
  margin: 2vmax;
  height: 8vh;
  width: 15vw;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 150%;
  border-radius: 3%;
}
#easy{
  background-color: #4468c3;
}
#normal{
  background-color: #e8a22a;
}
#hard{
  background-color: #e6dd1c;
}
#harder{
  background-color: #a3a3a3;
}



// style pour la genration en js
img{
  object-fit: contain;
  pointer-events: none;
  filter: grayscale(100%);
  &focus{
    outline: none;
  }
}

#timer{
    text-align: center;
    color: #666;
    width: 100vw;
    font-size: 3em;
}
.plateau{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 2px solid grey;
    margin: 2vmin;
    border-radius: 1%;
    overflow: hidden;
    object-fit: contain;
}

.easyCard{
  height: $cardHeight;
  width: $cardWidth - 3;
}

.hardCard{
    height: $cardHeight/1.5;
    width: $cardWidth/1.5;
}
