$cardHeight: 20vmax;
$cardWidth: $cardHeight /1.2;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  object-fit: cover;
  pointer-events: none;
  height: $cardHeight;
  width: $cardWidth;
}

.plateau{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 2px inset grey;
    margin: 2vmin;
}

.easyCard{
  @extend .card;
  height: $cardHeight;
  width: $cardWidth;
}

.hardCard{
    @extend .card;
    height: $cardHeight/1.5;
    width: $cardWidth/1.5;
}
